<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Forms"/>
    <authorization>
      <allow users ="*" />
    </authorization>

    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WeatherForeCastIService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar40.fulton.asu.edu/Page5/WeatherForeCastService1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WeatherForeCastIService1"
        contract="WeatherService.WeatherForeCastIService1" name="BasicHttpBinding_WeatherForeCastIService1" />
    </client>
  </system.serviceModel>
</configuration>